@using global::Shared.Domain
@using System.Dynamic
@using LogicForPages
@inject IMenuService MenuService;
@implements IDisposable;

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">RefugeeBnB</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Login" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Login
            </NavLink>
        </div>
        
        @if (hostLogged)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/Logout" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Logout
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/AddHousing" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Add Housing
                </NavLink>
            </div>
        }
        
        
    </nav>
</div>

@code {

    private bool collapseNavMenu = true;
    private bool refugeeLogged { get; set; }
    private bool hostLogged { get; set; }


    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override void OnInitialized()
    {
        MenuService.OnChanged += StateHasChanged;

        if (MenuService.isAnyoneLogged())
        {
            if (MenuService.isRefugeeLogged())
            {
                refugeeLogged = true;
            }
            else
            {
                Console.WriteLine("host set to true");
                hostLogged = true;
            }
        }
        else
        {
            refugeeLogged = false;
            hostLogged = false;
            Console.WriteLine("shit happens");
        }

        Console.WriteLine("OnInitialized");
    }

    public void Dispose()
    {
        MenuService.OnChanged -= StateHasChanged;
    }
    

}
