@using global::Shared.Domain
@using System.Dynamic
@using LogicForPages
@inject IMenuService MenuService;
@implements IDisposable;

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">RefugeeBnB</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        @foreach (MenuItem item in MenuService.AdditionalMenuItems)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="@item.Link">
                    <span aria-hidden="true"></span> @item.Name
                </NavLink>
            </div>
        }
        
        
    </nav>
</div>

@code {

    private bool collapseNavMenu = true;
    

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override void OnInitialized()
    {
        MenuService.OnChanged += StateHasChanged;
        base.OnInitialized();
        
        Console.WriteLine(MenuService.AdditionalMenuItems.First().Link);
        
        Console.WriteLine("OnInitialized");
    }

    public void Dispose()
    {
        MenuService.OnChanged -= StateHasChanged;
    }
    

}
