@page "/"

<PageTitle>Index</PageTitle>

<h1>RefugeeBnB, accomodation assistance for war refugees</h1>
<p>A place for refugees to find temporary home,</p>
<p>Due to the current ongoing war crisis in the world, thousands of people are left without home, and we are willing to help. This website is dedicated for
    helping refugees that are seeking for a safe shelter.</p>
<div class="help">
    <div class="help-text">
        <div class="help-title">Fleeing war?</div>
        <div class="description">We will find you a temporary home, sign up and you will be taken care of..</div>
    </div>
    <div class="provide-help">
        <NavLink class="nav-link" href="/Register" Match="NavLinkMatch.All">
            <span class="reglink" aria-hidden="true"></span>Register
        </NavLink>
    </div>
</div>


