@page "/ManageAccount"
@using HttpClients.ClientInterfaces
@using global::Shared.DTOs
<h3>ManageAccount</h3>
@inject RefugeeInterface RefugeeInterface;
@inject HostInterface HostInterface;
@inject AuthInterface authService;
@inject NavigationManager navMgr;
@inject DialogService dialogService;

<AuthorizeView>
    <Authorized>
        <div class="card">
            <div class="form-group field">
                <RadzenButton Style="color: white; font-weight: bold; background-color: #6a1a21" ButtonType="ButtonType.Submit" Text="Delete my account" Click="@((args) => DeleteButtonClicked())"/>
                <br/>
        
                <RadzenButton Style="color: white; font-weight: bold; background-color: #6a1a21" ButtonType="ButtonType.Submit" Text="Logout" Click="@Logout"/>
                <label style="color: @color">@resultMsg</label>
            </div>
        </div>
    </Authorized>
</AuthorizeView>




@code {

    private string resultMsg = "";
    private string color = "";

    private async void Logout()
    {
        await authService.LogoutAsync();
        navMgr.NavigateTo("/");
    }

    private async Task DeleteAccountAsync()
    {
        string email = authService.GetAuthAsync().Result.Claims.First().Value;
        

        if (authService.GetAuthAsync().Result.Claims.Any(claim => claim.Value.Equals("HOST")))
        {
            try
            {
                HostDTO dto = await HostInterface.DeleteAccountAsync(email);
                await authService.LogoutAsync();
                navMgr.NavigateTo("/");
            }
            catch (Exception e)
            {
                Console.WriteLine("CRASH!: " + e);
                throw;
            }
            
        }
        
        else if (authService.GetAuthAsync().Result.Claims.Any(claim => claim.Value.Equals("REFUGEE")))
        {

            try
            {
                RefugeeDTO dto = await RefugeeInterface.DeleteAccountAsync(email);
                await authService.LogoutAsync();
                navMgr.NavigateTo("/");
            }
            
            catch (Exception e)
            {
                Console.WriteLine("CRASH!: " + e);
                throw;
            }

         
        }
        else
        {
            resultMsg = "No one is currently logged in";
            color = "red";
        }
       
        
    }

    private async void DeleteButtonClicked()
    {
        var areYouSureResult = await dialogService.Confirm("Are you sure you want to delete your account?\nThis action cannot be undone.", "Confirm deletion of account", new ConfirmOptions { OkButtonText = "Delete account", CancelButtonText = "Cancel" });
        if (areYouSureResult.HasValue && areYouSureResult.Value)
        {
            try
            {
                await DeleteAccountAsync();
            }
            catch (Exception e)
            {
               await dialogService.Alert(e.Message, "ERROR");
            }
        }
    }
    
    

}