@page "/ManageAccount"
@using LogicForPages
@using HttpClients.ClientInterfaces
@using global::Shared.DTOs
@using System.Security.Claims
<h3>ManageAccount</h3>
@inject RefugeeInterface RefugeeInterface;
@inject HostInterface HostInterface;
@inject AuthInterface authService;
@inject NavigationManager navMgr;

<AuthorizeView>
    <Authorized>
        <div class="card">
            <div class="form-group field">
                <RadzenButton Style="color: white; font-weight: bold; background-color: #6a1a21" ButtonType="ButtonType.Submit" Text="Delete my account" Click="@DeleteAccountAsync"/>
                <br/>
        
                <RadzenButton Style="color: white; font-weight: bold; background-color: #6a1a21" ButtonType="ButtonType.Submit" Text="Logout" Click="@Logout"/>
                <label style="color: @color">@resultMsg</label>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <RadzenText>NOT AUTHORIZED</RadzenText>
    </NotAuthorized>
</AuthorizeView>




@code {

    private string resultMsg = "";
    private string color = "";

    private async void Logout()
    {
        await authService.LogoutAsync();
        navMgr.NavigateTo("/");
    }

    private async void DeleteAccountAsync()
    {
        string email = authService.GetAuthAsync().Result.Claims.First().Value;

        if (authService.GetAuthAsync().Result.Claims.Any(claim => claim.Value.Equals("HOST")))
        {
            Console.WriteLine("TRYING TO DELETE HOST");

            try
            {
                HostDTO dto = await HostInterface.DeleteAccountAsync(email);

     
            
            if (dto.ErrorMessage.Equals(null))
            {
                resultMsg = dto.ErrorMessage;
                color = "red";
            }
            else
            {
                resultMsg = "You have deleted your account";
                color = "green";
            }
            }
            catch (Exception e)
            {
                Console.WriteLine("CRASH!: " + e);
                throw;
            }
            
        }
        
        else if (authService.GetAuthAsync().Result.Claims.Any(claim => claim.Value.Equals("REFUGEE")))
        {
            
            RefugeeDTO dto = await RefugeeInterface.DeleteAccountAsync(email);
            if (dto.ErrorMessage.Equals(null))
            {
                //todo change to nav manager go to main page with no user logged in.
                resultMsg = dto.ErrorMessage;
                color = "red";
            }
            else
            {
                resultMsg = "You have deleted your account";
                color = "green";
            }
         
        }
        else
        {
            resultMsg = "No one is currently logged in";
            color = "red";
        }
       
        
    }
    

}